/*=============== IMPORT ABSTRACTS SCSS DIRECTORY ===============*/
@import 'abstracts/variables';
@import 'abstracts/animations';

/*=============== IMPORT BASE SCSS DIRECTORY ===============*/

@import 'base/base';
@import 'base/typography';

/*=============== IMPORT COMPONENTS SCSS DIRECTORY ===============*/

@import 'components/button';
@import 'components/swiper';
@import 'components/scrollbar';
@import 'components/scrollup'; 

/*=============== IMPORT LAYOUTS SCSS DIRECTORY ===============*/

@import 'layouts/header';
@import 'layouts/footer';

/*=============== IMPORT PAGES SCSS DIRECTORY ===============*/

@import 'pages/home';
@import 'pages/about';
@import 'pages/popular';
@import 'pages/features';
@import 'pages/featured';
@import 'pages/offer';
@import 'pages/logos';